body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tasks {
  border: 2px solid black;
  background-color: lightgray;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 500px;

}

.btn {
  background-color: lightgreen;
  height: 20px;
}